[user]
	name = Maxim Kurin
	email = kurinmaksim42@gmail.com
[alias]
	ch = checkout
	br = branch
	st = status
	amend = commit --amend --no-edit
[url "git@github.com:"]
	insteadOf = https://github.com/
